ENV_NAME=local
LOG_LEVEL=debug
SERVER_PORT=3000
SERVER_IP="127.0.0.1" 
SERVER_PROTOCOL="http" 
APP_NAME="Healthbox API" 
DOMAIN_URL="http://localhost:3000"
SERVER_ROOT="http://localhost:3000"

# mongo is the name of service in docker-compose.yml
DB_CONNECTION=?
SERVER_SECRET=?
REFRESH_SERVER_SECRET=?

# For mongodb container
DB_USERNAME=mongouser
DB_PASSWORD=mongopassword

ALLOW_CRON=false
CRON_NOTIFICATIONS_EMAIL=0 * * * *
WHITE_LISTED_URLS="http://localhost:4200,http://localhost:3000"
JWT_EXPIRY_SECONDS=3600 
JWT_REFRESH_EXPIRY_TIME='1y'

ENCRYPTION_ALGORITHM=aes-256-ctr

MAX_REQUEST_COUNT=500
MAX_REQUEST_INTERVAL=120000
RATE_LIMITER_MAX_REQUEST_COUNT=?
RATE_LIMITER_MAX_REQUEST_INTERVAL=?

MAX_PAGED_RECORDS_TO_LOAD=500

PDF_LIBRARY=html-pdf

################ Email & SMS ####################

EMAIL_SERVICE=?
MAIL_FROM_NAME=?
FROM_EMAIL=?
HELP_EMAIL=?
ADMIN_EMAIL=?
USE_PROVIDER_EMAIL_TEMPLATES=?
SENDGRID_API_KEY=your_api_key

REGISTRATION_WELCOME_EMAIL_TEMPLATE_ID=?

SMS_KEY=?
SENDER_NAME=?
SMS_API_URL=?
SMS_SERVICE_TYPE=?

################ Cloud ####################

AWS_S3_REGION=?
AWS_PROFILE_NAME=?
AWS_S3_IMAGE_BUCKET=?

WHATSAPP_API_KEY=?
WHATSAPP_APP_NAME=?
WHATSAPP_FROM_PHONE_NUMBER=?
