ENV_NAME=?
LOG_LEVEL=?
SERVER_PORT=?
SERVER_IP=?
SERVER_PROTOCOL=?
APP_NAME=?
DOMAIN_URL=?
SERVER_ROOT=?

DB_CONNECTION=?
SERVER_SECRET=?
REFRESH_SERVER_SECRET=?

ALLOW_CRON=?
WHITE_LISTED_URLS=?
JWT_EXPIRY_SECONDS=?
JWT_REFRESH_EXPIRY_TIME=?

ENCRYPTION_ALGORITHM=?

MAX_REQUEST_COUNT=?
MAX_REQUEST_INTERVAL=?
RATE_LIMITER_MAX_REQUEST_COUNT=?
RATE_LIMITER_MAX_REQUEST_INTERVAL=?

MAX_PAGED_RECORDS_TO_LOAD=?

PDF_LIBRARY=html-pdf

IS_OTP_VERIFICATION_ENABLED=false

################ Email & SMS ####################

FROM_EMAIL=?
HELP_EMAIL=?
ADMIN_EMAIL=?
EMAIL_SERVICE=?
MAIL_FROM_NAME=?
EMAIL_ENABLED=false
USE_PROVIDER_EMAIL_TEMPLATES=?

SENDGRID_API_KEY=?
REGISTRATION_WELCOME_EMAIL_TEMPLATE_ID=?

MAILGUN_DOMAIN=?
MAILGUN_API_KEY=?

SMS_KEY=?
SENDER_NAME=?
SMS_API_URL=?
SMS_ENABLED=false
SMS_SERVICE_TYPE=?

################ Cloud ####################

AWS_S3_REGION=?
AWS_PROFILE_NAME=?
AWS_S3_IMAGE_BUCKET=?

WHATSAPP_API_KEY=?
WHATSAPP_APP_NAME=?
WHATSAPP_ENABLED=?
WHATSAPP_FROM_PHONE_NUMBER=?

REDIS_ENABLED=false
REDIS_HOST=?
REDIS_PASSWORD=?
REDIS_TIMEOUT_SECONDS=3600  # 1 hour